@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

body {
  font-family: "Karla", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 90px;
  padding: 30px 100px;
  margin: 0 100px;
}

nav ul {
  font-size: 20px;
}
nav li {
  display: inline-flex;
  margin-left: 20px;
}

.hero {
  background-color: #495D56;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 200px 0 100px;;
  color: white;
}

.hero-text h1 {
  font-size: 56px;
  font-family: "Markazi Text", serif;
  color: #F4CE14;
}

.hero-text {
padding-left:100px;
font-size: 16px;
}

.hero-text h2 {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  margin-top: -50px;
}

.hero-text p {
  padding-right: 200px;
}

.hero-image img {
  width: 400px;
  object-fit: cover;

  height: 450px;
  margin:25px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.menu-item {
  margin: 40px;
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  width: 200px;
}

.name-price {
margin-top:10px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.item-name {
  font-size: 18px;
  font-weight: bold;

}

.item-price {
  color: #EE9972;
}

.item-image {
  object-fit: cover;
  min-width: 200px;
  height: 50%;
  border-radius: 16px 16px 0 0;
}

.testimonials-row {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  background-color: #495D56;
  padding: 0 100px;
}

.testimonial {
 font-size: 30px;
  margin:50px 0;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 200px;
}

.testimonial-image {
  width: 200px;
  border-radius: 16px;
}

.about {
  margin:50px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-text {
  margin: 0 50px;
}

.about-image {
  width: 500px;
  border-radius: 16px;
}

.footer {
  background-color: #495D56;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}
 .footer-logo img {
  width: 100px;
}

.footer-sitemap ul {
  list-style-type: none;
}
